{% extends 'base.html.twig' %}

{% block title %}Dodawanie artykułu{% endblock %}
{% block body %}
    <div class="container">
        <h1>Dodawanie artykułu</h1>

        <div id="status"></div>

        <form id="addArticle" method="POST">
            <label for="title">Tytuł:</label>
            <input  type="text" id="title" name="title" />
            <label for="text">Treść artykułu:</label>
            <textarea name="text" id="text" rows="4" cols="50"></textarea>
            <button type="submit">Dodaj</button>
        </form>

    </div>
{% endblock %}
